@import "tailwindcss";

@theme {
  --color-primary: #e65f00 --color-primary-hover: #e65f00
    --color-primary-active: #c94f00 --color-secondary: #00c950
    --color-secondary-hover: #00c950;
}

@keyframes progress-indeterminate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}
